<div class="container">
  <h1 class="mb-4">ログイン</h1>
  <%= form_with url: sessions_path, method: :post, local: true, data: { turbo: false }, class: 'needs-validation', novalidate: true do |form| %>
    <div class="mb-3">
      <%= form.label :email, "メールアドレス", class: "form-label" %>
      <%= form.email_field :email, required: true, class: "form-control", placeholder: "メールアドレスを入力してください" %>
    </div>
    <div class="mb-3">
      <%= form.label :password, "パスワード", class: "form-label" %>
      <%= form.password_field :password, required: true, class: "form-control", placeholder: "パスワードを入力してください" %>
    </div>
    <div class="actions">
      <%= form.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>